/* Base */
:root {
    --color-main: #011C44;
    --color-brand: #2B7FFF;
    --color-links: #FFFFFF;
}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
}

address {
    font-style: normal;
}

ul {
    list-style-type: none;
}

h2 {
    font-family:'Play', sans-serif;
    font-size: 64px;
    font-weight: 700;
}

/* Links */

.link {
    color: var(--color-links);
    text-decoration: none;
}

.link:hover {
    color: var(--color-brand);
}

.footer-links {
    font-size: 16px;
    color: var(--color-links);
    text-decoration: none;
}

/* Button */

.button {
    color: var(--color-links);
    background-color: var(--color-brand);
    border: none;
    border-radius: 32px;
    cursor: pointer;
    font-size: 18px;
}

.button:hover {
    color: var(--color-main);
    background-color: transparent;
    border: 2px solid;
    border-color: var(--color-brand);
}

/* Hero */

.hero-title {
    color: var(--color-brand);
    font-family: 'Play', sans-serif;
    font-size: 140px;
    font-weight: 700;
}

.free-consultation {
    font-size: 12px;
}

.about {
    font-size: 22px;
    line-height: 1.7;
}

/* Accent */

.accent {
    color: var(--color-brand);
}

/* Services */

.procedures-list {
    color: var(--color-links);
}

/* Footer */
.info {
    font-size: 16px;
}

.rights {
    font-size: 13px;
    color: #747272;
}